

/*--Galeria index--*/

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
&__caja {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
&__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
}

@media (min-width: 1200px) {
    .galeria {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    .galeria__imagen:hover {
        transform: scale(1.2);
        box-shadow: $sombra;
        transition-duration: 0.3s;
}
}