/*--Mapa--*/
.mapaContenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.mapaIframe {
    width: 300px;
    height: 300px;
    box-shadow: $sombra;
}

@media (min-width: 1200px) {
    .mapaIframe {
        width: 400px;
        height: 400px;
    }

    .mapaContenedor {
        gap: 100px;
    }

    .mapa:hover {
        transform: scale(1.5) translate(40%);
        transition-duration: 1s;
    }

    .mapa1:hover {
        transform: scale(1.5) translate(-40%);
        transition-duration: 1s;
    }
}