/*--footer--*/

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-1;
    align-items: center;

}

footer nav ul li {
    display: inline-block;
    padding: 10px;
    align-items: baseline;

    a {
        font-size: 1rem;
        color: rgb(255, 251, 212);
        font-style: oblique;
        text-decoration: underline;
    }
}



.redes {
    padding: 10px;

    a {
        color: $color-2;
        font-size: 2rem;
        text-decoration: none;
        padding: 20px;
    }
}